/*商家列表*/
.ele-shop-list li{padding:10px;background:#FFF;border-bottom:thin solid #DDD;overflow:hidden;}
.ele-shop-list li a{ display:block;width:100%;}
.ele-shop-list li .list-pic{
    width: 20%;
    margin-right: 2%;
    float: left;
}
.ele-shop-list li .list-pic img{width:100%;}
.ele-shop-list li .list-des {float:left;width:78%;}
.ele-shop-list li .list-des .des-title{overflow:hidden;color:#666;}
.ele-shop-list li .list-des .des-title span{float:right;margin-left:5px; 

    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.ele-shop-list li .list-des .des-title span.fu{
    background-color: #eb6100;
}
.ele-shop-list li .list-des .des-title span.pei{
    background-color: #55830A;
}
.ele-shop-list li .list-des .des-title span.fan{
    background-color: #ff2121;
}
.ele-shop-list li .list-des .des-title span.jian{
    background-color: #00a0e9;
}
.ele-shop-list li .list-des .des-star{margin:0;}
.ele-shop-list li .list-des .des-addr{font-size:12px;width:100%;margin:0;}
.ele-shop-list li .list-des .des-addr i{font-size:14px;margin-right:5px;}
.ele-shop-list li .list-des .des-addr span{float:right;color:#C00;}


/*店铺菜单*/
		html,body{height:100%;}
		#main{height:100%;}
		.side{width:25%;float:left;height:100%;border-right:thin solid #DDD;}
		.side ul{background:#FAFAFA;font-size:14px;}
		.side ul li{width:100%;height:40px;line-height:40px;border-left:3px solid #FAFAFA;background:#FAFAFA;border-bottom:thin solid #DDD;}
		.side ul li.current{border-left:3px solid #F60;background:#FFF;}
		.side ul li a{padding:0 10px;height:40px;line-height:40px;width:100%;overflow:hidden;}
		
		.pror{width:75%;height:100%;float:left;}
		.pror .pror-list{width:100%;background:#FFF;height:100%;overflow:hidden;}	
		.pror .pror-list li{width:100%;overflow:hidden;padding:10px;border-bottom:thin solid #DDD;position:relative;}
		.pror .pror-list li .list-pic{width:80px;height:80px;float:left;}
		.pror .pror-list li .list-pic img{width:80px;height:80px;}
		.pror .pror-list li .list-des{height:80px;margin-left:90px;}
		.pror .pror-list li .list-des h1{font-size:14px;height:30px;line-height:30px;}
		.pror .pror-list li .list-des p{margin:0;font-size:12px;}
		.pror .pror-list li .list-des em{font-size:16px;color:#C00;}
		.pror .pror-list li .list-add{position:absolute;bottom:20px;right:10px;border:thin solid #DDD;border-radius:40px;height:40px;width:40px;text-align:center;line-height:40px;}
		.pror .pror-list li .list-add span{color:#999;}
		.pror .pror-list li .list-des .sold i{font-size:14px;}
		

/*购物车*/	
	.shopcart{overflow:hidden;padding:0 20px;z-index:99999;}
	.shopcart .cart{float:left;height:50px;line-height:50px;color:#999;}
	.shopcart .num{float:left;height:50px;line-height:50px;font-size:18px;color:#666;padding:0 5px;}
	.shopcart .iconfont{float:left;color:#DD524D;font-size:22px;}
	.shopcart .result{float:right;}
	.shopcart .jq_last{font-size:12px;}
	

        .shop{	
            background-color: #FFF;	
            border-top: 1px solid #CCC;	
            border-bottom: 1px solid #CCC;	
            margin-bottom: 14px;	
        }	
		
		
		
        .shop_name{	
            height:40px;
			line-height:40px;
			padding-left:10px;
			font-size:14px;
			border-bottom:thin solid #DDD;
        }	

        .shop span{	
            color: #1A1A1A;	
            font-size: 12px;	
        }	
		
		.shop a{color:#333;}

        .shop_item{	
			background: #FFF;	
            width: 100%;	
            display: -webkit-box;	
            display: -webkit-flex;	
            display: flex;	
            -webkit-box-orient:horizontal;	
            position: relative;	
            padding: 10px;	
			border-bottom:thin dashed #DDD;
        }	
        .shop_item:last-child{border:none!important;}
		
		
        .shop_item_left{	
            position: relative;	
        }	
        .item_icon{	
            width:80px;height:80px;	
        }	
        .shop_item_center{	
            position: relative;	
            -webkit-box-flex: 1;	
            -webkit-flex: 1;	
            flex: 1;	
            padding-left: 7px;	
        }	
        .shop_item_center .title{	
            display: block;	
            line-height: 17px;
			height:34px;
			overflow:hidden;
			word-break:break-all;
            text-indent: 0 !important;	
			font-size:14px;
			
        }	
        .shop_item_center .description{	
            display: block;	
            text-overflow: ellipsis;	
            overflow: hidden;	
            white-space: nowrap;	
            line-height: 17px;
			font-size:11px!important;
        }	
        .shop_item_center .classify{	
            display: block;	
            color: #9E9E9E;	
            line-height: 14px;	
        }	
        .tag_group .tag{	
            height: 12px;	
        }	
        .shop_item_right{	
            text-align: right;	
            position: relative;	
            width: 73px;	
            padding-right: 7px;	
        }	
        .shop_item_right .price{	
            margin-bottom: 25px;	
        }	
        .count_group{	
            line-height: 100%;	
        }	
        .count_group .count{	
            font-size: 13px;	
        }	
		

        .shop_item .checkBox{	
            display:none;
	}
		
		.shop_item .change{overflow:hidden;}
		.shop_item .change .jq_jian,.shop_item .change .jq_jia{float:left;height:20px;line-height:20px;width:20px;background:#DD524D;;text-align:center;font-size:14px;color:#FFF;}
		.shop_item .change .ordernum{width:40px;line-height:20px;height:20px;float:left;border-radius:0;font-size:12px;margin:0;padding:0;text-align:center;border-color:#DD524D;}
		

/*提交订单*/		
.list_tj {
    box-shadow: 1px 1px 2px #dddddd, -1px -1px 2px #dddddd;
    margin-bottom: 16px;
    background:#FFF!important;
	overflow:hidden;
}
.list_tj li {
    position: relative;
    border: thin solid #d2d2d2;
    margin-top: -1px;
    padding:10px 5px;
}
.list_pay img {
    width: 40px;
    max-height: 40px;
    float: left;
}
.list_pay .pay_con {
    overflow: hidden;
    padding-left: 6px;
}
.list_pay .pay_con .light.small {
    font-size: 12px;
}
.list_pay .pay_con p{margin:0;line-height:20px;height:20px;}
.list_pay .ui-radio {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: 16px;
    width: 22px;
    height: 22px;
    background: url(../img/radio.png) no-repeat left center;
}
.list_pay .ui-radio input {
    position: relative;
    display: none;
}
.list_pay li.active .ui-radio {
    background-position: right center;
}	

.list_pay .sub {margin:30px 0;width:100%;}
.list_pay .sub .aniu {width:80%;height:50px;margin:0 auto;display:block;} 


		