.tuan-detail .banner{position: relative;width: 100%;overflow: hidden;}
.tuan-detail .banner img{width: 100%;}
.tuan-detail .lable, .day-con-img-lable{background-image: -webkit-linear-gradient(top, rgba(59, 59, 59, .6), rgba(27, 27, 27, .6), rgba(50, 50, 50, .4), rgba(31, 31, 31, .4));background-image: linear-gradient(top, rgba(59, 59, 59, .6), rgba(27, 27, 27, .6), rgba(50, 50, 50, .4), rgba(31, 31, 31, .4));position: absolute;left: 0;bottom: 0;width: 100%;height: 30px;line-height: 30px;padding-left: 20px;display: block;color: #fff;-webkit-box-sizing: border-box;box-sizing: border-box;}
.tuan-detail .base-info,.tuan-detail  .custorm,.tuan-detail  .productFeature,.tuan-detail  .journey-detail,.tuan-detail  .notice-question{position: relative;background: #fff;margin: 10px 0;padding: 0 10px;box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.85);}

.tuan-detail .base-info{padding-top: 10px;margin-top: 0;}
.tuan-detail .title{border-bottom: thin solid #EDEDED;}
.tuan-detail .title span{color: #A4A4A4;font-size: 12px;line-height: 18px;}
.tuan-detail .title span:first-child{color: #000000;font-size: 15px;}

.tuan-detail .price{padding:10px 0;line-height: 20px;font-size: 13px;}
.tuan-detail .price div {color: #f99d1c;font-size: 14px;}
.tuan-detail .price-text{font-size: 16px;}
.tuan-detail .price del{font-size: 12px;color: #A4A4A4;margin-left: 5px;}
.tuan-detail .arrow-right{background-image: url("../images/arrow.png");background-position: right center;background-repeat: no-repeat no-repeat;background-size: 20px;border-bottom: thin solid #d8d8d8;padding: 10px 0;}


.tuan-detail .custorm li:first-child div{background-image: url("../images/tuan/heart.png");background-position: left center;background-repeat: no-repeat no-repeat;background-size: 25px; padding: 10px 25px;}
.tuan-detail .custorm-detail{position: relative;padding:10px 0;}
.tuan-detail .custorm-detail-title{line-height: 30px;}
.tuan-detail .custorm-detail-title span:last-child{position: absolute;right: 2px;top: 2px;}
.tuan-detail .custorm-detail-con{line-height:20px;font-size:13px;color: #787878;margin:0;}

.tuan-detail .productFeature li:first-child{background-image: url("../images/tuan/featured.png");background-position: left center;background-repeat: no-repeat no-repeat;background-size: 20px;padding: 10px 20px;border-bottom: thin solid #d8d8d8;}
.tuan-detail .productFeature-detail span{font-size: 13px;display: block;line-height:20px;}
.tuan-detail .productFeature-detail img{max-width:100%;}

.tuan-detail .arrow-down{margin-left: 7px;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #1dbd8d;}
.tuan-detail .day-title{display: inline-block;background-color: #1dbd8d;line-height: 20px;padding: 3px;font-size: 13px;}
.tuan-detail .day-title span{color: #fff;position: relative;}
.tuan-detail .day-title span:not(:first-child){padding-left: 20px;}
.tuan-detail .day-con, .day-con-wrap{border-left: thin solid #1dbd8d;}
.tuan-detail .day-con{padding-left:10px;font-size: 13px;line-height:20px;}

.footer{bottom: 0px;display: table;width: 100%;height: 50px;padding: 0px;table-layout: fixed;position: fixed;z-index: 10;right: 0px;left: 0px;background:rgba(0, 0, 0, 0.65);box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.85);backface-visibility: hidden;}
.footer a{display: block;background-size: 30px;background-repeat: no-repeat;background-position: center;padding: 20px;color:#FFF;}
.footer  .order{color:#FFF;font-size: 16px;padding: 15px !important;text-align: center;}
.footer  .mui-icon{color:#FFF!important;}



/*INDEX*/

	.tuan-shop .shop-con{overflow:hidden;border-bottom:thin solid #DDD;padding:10px;}
	.tuan-shop .shop-name{width:50%;float:left;}
	.tuan-shop .shop-tags{width:50%;float:right;}
	.tuan-shop .shop-local{float:right;}
	.tuan-shop .shop-local span{float:left!important;font-size:14px;margin:0 5px;color:#333!important;}
	.tuan-shop .shop-tags span{float:right;display: inline-block;width: 20px;height: 20px;color: #FFF;text-align: center;line-height: 20px;margin-left: 3px;border-radius: 2px;}
	.tuan-shop .shop-tags span.z{background: #f2c700;}
	.tuan-shop .shop-tags span.d{background: #f16600;}
	.tuan-shop .shop-tags span.w{background: #02cb65;}
	.tuan-shop .shop-tags span.k{background: #00a1ec;}


/*MAIN*/
.tuan_content ul{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 16px;
    /* border-bottom: 1px solid #ccc;
     background-color: #ccc;*/
}
.tuan_content ul li{
    float: left;
    width: 33%;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 0.5% 0.5% 0px 0px;
}
.tuan_content ul li.dif_column{
    margin-right: 0px;
}
.tuan_content ul li a{
    display: block;
    color: #333;
}
.tuan_content .icon01, .tuan_content .icon02, .tuan_content .icon03, .tuan_content .icon04, .tuan_content .icon05, .tuan_content .icon06, .tuan_content .icon07, .tuan_content .icon08, .tuan_content .icon09{
    background: url("/static/default/mob/images/tuan/icons.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 30px;
    margin: 5px 0 5px 14%;
    width: 32%;
}
.tuan_content .icon02{
    background-position:0 -30px;
}
.tuan_content .icon03{
    background-position:0 -60px;
}
.tuan_content .icon04{
    background-position:0 -90px;
}
.tuan_content .icon05{
    background-position:0 -120px;
}
.tuan_content.icon06{
    background-position:0 -150px;
}
.tuan_content .icon07{
    background-position:0 -180px;
}
.tuan_content .icon08{
    background-position:0 -210px;
}
.tuan_content .icon09{
    background-position:0 -240px;
}
.tuan_content span.wenzi{
    display: block;
    margin-right: 14%;
    float: right;
    width: 36%;
}
.tuangou_menu ul li a{
    width: 33%;
}
.tuangou_menu ul li a:hover{
    border-bottom: 2px solid #ff3333;
    color: #ff3333;
}
.tuangou_list li{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 6px #ccc;
    height: auto;
    margin: 3% 0;
    overflow: hidden;
    padding: 14px 3%;
}
.tuangou_list li img{
    float: left;
    padding-right: 4%;
}
.tuangou_list li .tuangou_des{
    float: left;
    width: 62%;
}
.tuangou_list li .tuangou_des a{
    font-size: 16px;
}
.tuangou_list li .tuangou_des h5{
    font-size: 12px;
    color: #666;
}
.tuangou_list li .tuangou_des b{
    color: #ff3e24;
    font-weight: normal;
    font-size: 18px;
}
.tuangou_list li .tuangou_des .bt_column{
    margin-top: 24px;
}
.tuangou_list li .tuangou_des .yuanjia{
    font-size: 12px;
    color: #888;
    text-decoration: line-through;
}
.tuangou_list li .tuangou_des  .fr{
    font-size: 13px;
    color: #ff3e24;
}

